<% layout('layout') -%>



<div class="container mt-3 myContent">
  <main role="main">
    <div class="row">
      <div class="col">

        <div class="table-responsive-sm">
          <h1>Items in your cart</h1>
          <table class="table" id="cart">
            <thead>
              <tr>
                <th style="width:10%" >#</th>
                <th style="width:5%" >Product</th>
                <th style="width:25%">Description</th>
                <th style="width:10%" class="text-center">Quantity</th>
                <th style="width:10%" class="text-center">Price</th>
                <th style="width:10%" class="text-center">Actions</th>
              </tr>

            </thead>

            <tbody id="table">

            </tbody>
          </table>
          
        </div>

      </div>
    </div>
    
  </main>
</div>
<script src="/public/js/cart.js" ></script>